<!-- template.html -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div class="container" id="app">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>BFS Web Scraper</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search"
                        v-model="query">
                    <br>
                    <label for="depth">Depth</label>
                    <input type="number" name="depth" id="depth" placeholder="depth" v-model="depth">
                    <label for="pages">Pages</label>
                    <input type="number" name="pages" id="pages" placeholder="pages" v-model="pages">
                    <span class="glyphicon glyphicon-search form-control-feedback" @click="search()"></span>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div class="row" style="width: 70%;float:left">
        <div>RESULTS:</div>
        <ul v-for="result in results">
            <li>
                {{ result.title }}: {{ result.url }} (depth {{result.depth}})
                <ul v-for="link in result.children">
                    <li v-if="link.url">
                        {{ link.title }}: {{ link.url }} (depth {{link.depth}})
                    </li>
                    <li v-else>
                        {{ link }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row" style="width: 30%;float:left">
    </div>
    <div style="clear:both"></div>
</div>
<style>
    .search-form .form-group {
        width: 40vw !important;
        border-radius: 4px 25px 25px 4px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border: 1px solid #ccc;
    }

    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display: block;
    }

    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }
</style>
<script>
    // create a new Vue instance
    var app = new Vue({
        el: '#app',
        // declare the data for the component (An array that houses the results and a query that holds the current search string)
        data: {
            results: [],
            query: '',
            depth: 5,
            pages: 15
        },
        // declare methods in this Vue component. here only one method which performs the search is defined
        methods: {
            // make an axios request to the server with the current search query
            search: function () {
                this.results = [];
                let qObj = {
                    query: this.query,
                    depth: this.depth,
                    pages: this.pages
                }
                this.sendMessage(JSON.stringify(qObj));
            },
            sendMessage: function (message) {
                this.connection.send(message);
            }
        },
        created: function () {
            let vm = this;
            console.log("Starting connection to WebSocket Server")
            this.connection = new WebSocket(`ws://127.0.0.1:3001?uid=${window.location.host}`)

            this.connection.onmessage = function (event) {
                let res = JSON.parse(event.data);
                let i, j;
                if ((i = vm.results.findIndex(e => e.url === res.url)) && i >= 0) { //in case the crawled url is somewhere between the links, so the crawled url replaces it
                    vm.results[i] = res;
                }
                else if ((i = vm.results.findIndex(e => e.children && (j = e.children.indexOf(res.url)) >= 0)) && i >= 0) { //in case the crawled url is somewhere between the links, so the crawled url replaces it
                    vm.results[i].children[j] = res;
                }
                else {
                    vm.results.push(res);
                }
            }

            this.connection.onopen = function (event) {
                console.log(event)
                console.log("Successfully connected to the echo websocket server...")
            }
        },
        mounted: function () {
            window.addEventListener('keyup', function (event) {
                if (event.keyCode === 13) {
                    app.search();
                }
            });
        }
    })
</script>